<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TeamExert - Weekly Summary</title>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Datatables CSS and JS links  -->

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/isuwsocAdminHome">Admin Home</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=username%><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/isuwsocSettings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
            <ul class="nav navbar-nav side-nav" >
                <li>
                    <a href="/isuwsocCurrentData"><i class="glyphicon glyphicon-list-alt"></i> Current Data</a>
                </li>
                <li>
                    <a href="/isuwsocDailySummary"><i class="glyphicon glyphicon-list-alt"></i> Daily Summary</a>
                </li>
                <li>
                    <a href="/isuwsocWeeklySummary"><i class="glyphicon glyphicon-list-alt"></i> Weekly Summary</a>
                </li>
                <li>
                    <a href="/isuwsocCreateWorkout"><i class="glyphicon glyphicon-pencil"></i> Create Workout</a>
                </li>
                <li>
                    <a href="/isuwsocGroupControl"><i class="glyphicon glyphicon-th-list"></i> Group Control</a>
                </li>
                <li>
                    <a href="/isuwsocAddAthlete"><i class="glyphicon glyphicon-plus"></i> Add Member</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Week Data</h3>
                        </div>
                        <div class = "panel-body">

                            <form name="weekSelectForm"  class = "form-inline" action="/isuwsocWeeklySummary/selectWeek" method="post" role="form"
                                  style=" display: block;">


                                <!-- Dropdown arrow selecting most recent workouts (10)
                                 Shows the RPE scores of every player plus pre and post coach
                                 scores and have a tab on the side that allows notes to be
                                 put in on a player-->
                                <label for="sel1">Select workout date:</label>
                                <div class="form-group">
                                    <select class="form-control" id="mySelect" name="week_select">
                                        <option selected value> -- Select a week -- </option>
                                        <% for(var k=0; k < week_set.length ; k++) {%>
                                        <option value="<%=week_set[k].saturday%>">
                                            Week <%= week_set[k].sunday%> - <%= week_set[k].saturday%>
                                        </option>

                                        <% } %>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>












                            <br>


<!--
Individual week summary table
- Using dynamic table building to create the table based on # of workouts for the week
- Workouts ordered in chronological order (Sun - Sat)

-->
                            <table id="individual_week" class="display nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th rowspan="2">Last Name</th>
                                    <th rowspan="2">First Name</th>
                                    <th colspan="5">Total</th>

                                    <%  for(var i = 0; i < workouts.length; i++){


                                    %>
                                    <th colspan="3"><%= workouts[i].name%></th>
                                    <%  } %>

                                </tr>
                                <tr>
                                    <th>Avg RPE</th>
                                    <th>Acute Duration</th>
                                    <th>Acute Load</th>
                                    <th>Chronic Load</th>
                                    <th>Relative A/C% Load</th>
                                    <%  for(var i = 0; i < workouts.length; i++){    %>
                                    <th> RPE </th>
                                    <th>Duration</th>
                                    <th>Load</th>
                                    <%  } %>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                var cur_username = "c";
                                for(var i = 0; i < player_week_data.length; i++){
                                    cur_username = player_week_data[i].username;

                                    var chronic_load = 0;

                                    for(var k = 0; k < player_chronic.length; k++)
                                    {

                                        if(cur_username === player_chronic[k].username)
                                        {
                                            chronic_load = Math.round(player_chronic[k].chronicSum / 4)
                                        }
                                    }



                                %>
                                <tr>
                                    <td><%= player_week_data[i].last_name%>  </td>
                                    <td><%= player_week_data[i].first_name%>  </td>

                                    <% //Use this section to go ahead and collect all of the players
                                        //week data to come up with acute load, duration, average RPE
                                        //instead of making another call
                                        var acuteLoad = 0;
                                        var acuteDuration = 0;
                                        var averageRPE = 0;
                                        var loop;
                                        var iteration = i;
                                        var workCount = 0;
                                        do{
                                            workCount++;
                                            console.log(workCount);
                                            averageRPE = averageRPE + player_week_data[iteration].player_sRPE;
                                            acuteDuration = acuteDuration + player_week_data[iteration].duration
                                            acuteLoad = acuteLoad + (player_week_data[iteration].player_sRPE * player_week_data[iteration].duration);
                                            iteration = iteration + 1;
                                            if(iteration != player_week_data.length)
                                            {
                                                if(player_week_data[iteration].username != cur_username)
                                                {
                                                    loop = 0;

                                                }
                                                else
                                                {
                                                    loop = 1;
                                                }
                                            }
                                            else
                                            {
                                                loop = 0;
                                            }


                                        }while(loop === 1);



                                        var loadPercentage = (acuteLoad / chronic_load) * 100;
                                        loadPercentage = Math.round(loadPercentage * 10)/10; //nearest tenth
                                    %>



                                    <td><%=averageRPE / workCount%>  </td>
                                    <td><%= acuteDuration%>  </td>
                                    <td><%= acuteLoad%>  </td>
                                    <td><%= chronic_load%></td>
                                    <td><%= loadPercentage%>%</td>





                                    <%  for(var j = 0; j < workouts.length; j++){


                                    if(workouts[j].date.getTime() === player_week_data[i].date.getTime() &&
                                            workouts[j].time === player_week_data[i].time)
                                    {
                                    %>
                                    <td><%= player_week_data[i].player_sRPE%>  </td>
                                    <td><%= player_week_data[i].duration%>  </td>
                                    <td><%= (player_week_data[i].player_sRPE * player_week_data[i].duration)%>  </td>


                                    <%
                                        if(i + 1 != player_week_data.length)
                                        {
                                            if(cur_username === player_week_data[i + 1].username)
                                            {
                                                i++;
                                            }
                                        }


                                    }
                                    else{ %>

                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>

                                    <% } %>


                                    <%  }

                                    %>

                                </tr>
                                <%

                                }





                                %>



                                </tbody>
                            </table>

                            <script>
                                var $ = jQuery;
                                $(document).ready(function() {
                                    $('#individual_week').DataTable({
                                        "scrollX": true
                                    });
                                } );

                            </script>

                            <br><br>



                            <table id="group_week" class="display nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th rowspan="2">Last Name</th>
                                    <th rowspan="2">First Name</th>
                                    <th colspan="4">Total</th>
                                    <%  for(var i = 0; i < workouts.length; i++){
                                    %>
                                    <th colspan="3"><%= workouts[i].name%></th>
                                    <%  } %>


                                </tr>
                                <tr>
                                    <th>Acute Duration</th>
                                    <th>Acute Load</th>
                                    <th>Chronic Load</th>
                                    <th>Relative A/C% Load</th>
                                    <%  for(var i = 0; i < workouts.length; i++){    %>
                                    <th> RPE </th>
                                    <th>Duration</th>
                                    <th>Load</th>
                                    <%  } %>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <%if(team_week_data.length > 0) {
                                        var teamChronicLoad = 0;
                                        var teamAcuteLoad = 0;
                                        var teamAcuteDuration = 0;

                                        for(i = 0; i < chronic_team.length; i++)
                                        {
                                            teamChronicLoad = teamChronicLoad + chronic_team[i].chronicSum;
                                        }
                                        teamChronicLoad = Math.round(teamChronicLoad / chronic_team.length);


                                        for(i = 0; i < acute_team.length; i++)
                                        {
                                            teamAcuteLoad = teamAcuteLoad + acute_team[i].chronicSum;
                                            teamAcuteDuration = teamAcuteDuration + acute_team[i].durationSum;


                                        }
                                        teamAcuteLoad = Math.round(teamAcuteLoad / acute_team.length);
                                        teamAcuteDuration = Math.round(teamAcuteDuration / acute_team.length);
                                        var teamLoadPercentage = (teamAcuteLoad / teamChronicLoad) * 100;
                                        teamLoadPercentage = Math.round(teamLoadPercentage * 10)/10; //nearest tenth


                                    %>

                                    <td>+Team</td>
                                    <td> </td>
                                    <td><%= teamAcuteDuration%></td>
                                    <td><%= teamAcuteLoad%></td>
                                    <td><%= teamChronicLoad%></td>
                                    <td><%= teamLoadPercentage%>%</td>

                                    <% for(j = 0; j < team_week_data.length; j++){ %>
                                    <td><%= team_week_data[j].pavg %></td>
                                    <td><%= team_week_data[j].duration %></td>
                                    <td><%= Math.round(team_week_data[j].pavg *  team_week_data[j].duration )%></td>
                                    <%
                                    }
                                    } %>

                                </tr>

                                <% for( i = 0; i < pos_week_data.length; i++){
                                    cur_position = pos_week_data[i].position;

                                    acuteLoad = 0;
                                    acuteDuration = 0;
                                    chronic_load = 0;


                                    for(j = 0; j < acute_position.length; j++)
                                    {
                                        if(acute_position[j].position === cur_position)
                                        {
                                            acuteLoad =  Math.round(acute_position[j].acuteSum / acute_position[j].c) ;
                                            acuteDuration =   Math.round(acute_position[j].acuteDuration / acute_position[j].c);
                                        }
                                    }
                                    for(j = 0; j < chronic_position.length; j++)
                                    {
                                        if(chronic_position[j].position === cur_position)
                                        {
                                            chronic_load = chronic_position[j].chronicSum;

                                        }
                                    }
                                    loadPercentage = (acuteLoad / chronic_load) * 100;
                                    loadPercentage = Math.round(loadPercentage * 10)/10; //nearest tenth


                                %>
                                <tr>
                                    <td><%= pos_week_data[i].position%>  </td>
                                    <td>  </td>






                                    <td><%= acuteDuration%> </td>
                                    <td><%= acuteLoad%></td>
                                    <td><%= chronic_load%></td>
                                    <td><%= loadPercentage%>% </td>






                                    <%  for( j = 0; j < workouts.length; j++){


                                    if(workouts[j].date.getTime() === pos_week_data[i].date.getTime() &&
                                            workouts[j].time === pos_week_data[i].time)
                                    {
                                    %>
                                    <td><%= pos_week_data[i].pavg%>  </td>
                                    <td><%= pos_week_data[i].duration%>  </td>
                                    <td><%= Math.round(pos_week_data[i].pavg * pos_week_data[i].duration)%>  </td>


                                    <%
                                        if(i + 1 != pos_week_data.length)
                                        {
                                            if(cur_position === pos_week_data[i + 1].position)
                                            {
                                                i++;
                                            }
                                        }


                                    }
                                    else{ %>

                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>

                                    <% } %>


                                    <%  }

                                    %>

                                </tr>
                                <%

                                } %>

                                <% for( i = 0; i < group_week_data.length; i++){
                                    cur_position = group_week_data[i].group_chronic;

                                    acuteLoad = 0;
                                    acuteDuration = 0;
                                    chronic_load = 0;


                                    for(j = 0; j < acute_group.length; j++)
                                    {
                                        if(acute_group[j].group_chronic === cur_position)
                                        {
                                            acuteLoad =  Math.round(acute_group[j].acuteSum / acute_group[j].c) ;
                                            acuteDuration =   Math.round(acute_group[j].acuteDuration / acute_group[j].c);
                                        }
                                    }
                                    for(j = 0; j < chronic_group.length; j++)
                                    {
                                        if(chronic_group[j].group_chronic === cur_position)
                                        {
                                            chronic_load = Math.round(chronic_group[j].chronicSum / chronic_group[j].c);

                                        }
                                    }
                                    loadPercentage = (acuteLoad / chronic_load) * 100;
                                    loadPercentage = Math.round(loadPercentage * 10)/10; //nearest tenth


                                %>
                                <tr>
                                    <td>-<%= group_week_data[i].group_chronic%>  </td>
                                    <td>  </td>






                                    <td><%= acuteDuration%> </td>
                                    <td><%= acuteLoad%></td>
                                    <td><%= chronic_load%></td>
                                    <td><%= loadPercentage%>% </td>






                                    <%  for( j = 0; j < workouts.length; j++){


                                    if(workouts[j].date.getTime() === group_week_data[i].date.getTime() &&
                                            workouts[j].time === group_week_data[i].time)
                                    {
                                    %>
                                    <td><%= group_week_data[i].pavg%>  </td>
                                    <td><%= group_week_data[i].duration%>  </td>
                                    <td><%= Math.round(group_week_data[i].pavg * group_week_data[i].duration)%>  </td>


                                    <%
                                        if(i + 1 != group_week_data.length)
                                        {
                                            if(cur_position === group_week_data[i + 1].group_chronic)
                                            {
                                                i++;
                                            }
                                        }


                                    }
                                    else{ %>

                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>

                                    <% } %>


                                    <%  }

                                    %>

                                </tr>
                                <%

                                } %>



                                </tbody>
                            </table>


                            <br><br>


                            <%
                            if(total_chronic.length > 0){

                            var totalChronic = 0;

                            for(i = 0; i < total_chronic.length; i++)
                            {
                                totalChronic = totalChronic + total_chronic[i].chronicSum;
                            }
                            totalChronic = Math.round(totalChronic / total_chronic.length);

                            totalChronic = Math.round((totalChronic + teamAcuteLoad) / 4);



                            %>


                            <h3>End of The Week Team Chronic Load <span class="label label-default"><%= totalChronic %></span></h3>


                            <% } %>





                            <script>
                                var $ = jQuery;
                                $(document).ready( function () {
                                    $('#group_week').DataTable({
                                        "scrollX": true
                                    });




                                } );


                            </script>


                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../js/plugins/morris/raphael.min.js"></script>
<script src="../js/plugins/morris/morris.min.js"></script>
<script src="../js/plugins/morris/morris-data.js"></script>


<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


</body>

</html>
